@import "tailwindcss";
@import "tw-animate-css";
@import '@xyflow/react/dist/style.css';
@import "shadcn-prose";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --background: #e4edf1;
  --foreground: #22282a;
  --card: #f5fcff;
  --card-foreground: #22282a;
  --popover: #f5fcff;
  --popover-foreground: #22282a;
  --primary: #4040b0;
  --primary-foreground: #ffffff;
  --secondary: #d5e1e7;
  --secondary-foreground: #22282a;
  --muted: #e4edf1;
  --muted-foreground: #5f6f77;
  --accent: #5ba3e0;
  --accent-foreground: #22282a;
  --destructive: #d23356;
  --destructive-foreground: #efcdd6;
  --border: #d5e1e7;
  --input: #f5fcff;
  --ring: #22282a;
  --chart-1: #b8fd83;
  --chart-2: #66e8fa;
  --chart-3: #f7b430;
  --chart-4: #6dadd6;
  --chart-5: #92a6b0;
  --sidebar: #f5fcff;
  --sidebar-foreground: #22282a;
  --sidebar-primary: #22282a;
  --sidebar-primary-foreground: #e4edf1;
  --sidebar-accent: #f5fcff;
  --sidebar-accent-foreground: #22282a;
  --sidebar-border: #d5e1e7;
  --sidebar-ring: #22282a;
  --font-sans: "Satoshi Variable", sans-serif;
  --font-serif: "Satoshi Variable", sans-serif;
  --font-mono: "Et Mono", Impact, sans-serif;
  --radius: 1em;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-sm: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow-md: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 2px 4px -1px hsl(0 0% 0% / 0.16);
  --shadow-lg: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 4px 6px -1px hsl(0 0% 0% / 0.16);
  --shadow-xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 8px 10px -1px hsl(0 0% 0% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.40);
  --tracking-normal: -0.025em;
  --spacing: 0.27rem;
}

.dark {
  --background: #22282a;
  --foreground: #d5e1e7;
  --card: #394247;
  --card-foreground: #d5e1e7;
  --popover: #394247;
  --popover-foreground: #d5e1e7;
  --primary: #3ebfd0;
  --primary-foreground: #22282a;
  --secondary: #5f6f77;
  --secondary-foreground: #d5e1e7;
  --muted: #5f6f77;
  --muted-foreground: #b1c5ce;
  --accent: #66e8fa;
  --accent-foreground: #22282a;
  --destructive: #d23356;
  --destructive-foreground: #efcdd6;
  --border: #5f6f77;
  --input: #394247;
  --ring: #66e8fa;
  --chart-1: #b8fd83;
  --chart-2: #66e8fa;
  --chart-3: #f7b430;
  --chart-4: #6dadd6;
  --chart-5: #92a6b0;
  --sidebar: #171818;
  --sidebar-foreground: #d5e1e7;
  --sidebar-primary: #66e8fa;
  --sidebar-primary-foreground: #22282a;
  --sidebar-accent: #394247;
  --sidebar-accent-foreground: #66e8fa;
  --sidebar-border: #5f6f77;
  --sidebar-ring: #66e8fa;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }
  * {
    @apply min-w-0;
  }
  html {
    text-rendering: optimizelegibility;
  }
  body {
    @apply min-h-[100dvh];
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-muted-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .prose-sm h1 {
    @apply text-3xl font-semibold tracking-tight;
  }
  .prose-sm h2 {
    @apply text-2xl font-semibold tracking-tight;
  }
  .prose-sm h3 {
    @apply text-xl font-semibold tracking-tight;
  }
  .prose-sm h4 {
    @apply text-lg font-semibold tracking-tight;
  }
  .prose-sm h5 {
    @apply text-base font-semibold tracking-tight;
  }
  .prose-sm h6 {
    @apply text-sm font-semibold tracking-tight;
  }
}

@layer base {
  .react-flow__background {
    @apply bg-secondary! dark:bg-background!;
  }
  .react-flow__background-pattern.dots {
    @apply fill-foreground/25!;
  }
  .react-flow__node.selected .node-container {
    @apply ring-2! ring-[var(--cursor-color,var(--primary))]!;
  }
  .react-flow__controls-button {
    @apply inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 rounded-full;
    @apply border-none! size-9! bg-transparent! hover:bg-accent/50! dark:hover:bg-accent/50!;
  }
  .react-flow__controls-button > svg {
    @apply size-4;
  }
  .react-flow__handle {
    @apply !size-4 !border-2 !border-border !bg-background;
  }  
  .react-flow__handle-left {
    @apply !-left-4;
  }
  .react-flow__handle-right {
    @apply !-right-4;
  }
}

nextjs-portal {
  @apply hidden;
}